fastapi
uvicorn
python-multipart
deepface; python_version < "3.13"
tf-keras; python_version < "3.13"
mtcnn; python_version < "3.13"
opencv-python
requests
python-dotenv
apscheduler
psycopg2-binary
supabase
pyjwt
bcrypt
Pillow